<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>WanderLust</title>
</head>

<body>
    <form action="/listings/<%= listing._id%>?_method=PUT" method="post">
        <h3>Edit this Listing</h3>
        <input type="text" name="listing[title]" id="title" placeholder="Enter title"
            value="<%= listing.title %>"><br><br>
        <textarea name="listing[description]" id="description" cols="30" rows="10"
            placeholder="Enter description"><%= listing.description %></textarea><br><br>
        <input type="text" name="listing[image][url]" id="image" placeholder="Enter image URL/Link"
            value="<%= listing.image.url %>"><br><br>
        <input type="number" placeholder="Enter price" name="listing[price]" id="price"
            value="<%= listing.price %>"><br><br>
        <input type="text" name="listing[location]" id="location" placeholder="Enter location"
            value="<%= listing.location %>"><br><br>
        <input type="text" name="listing[country]" id="country" placeholder="Enter country"
            value="<%= listing.country %>"><br><br>
        <button>Add</button>
    </form>
</body>

</html>